altgraph
anyio
Brotli
cachetools
certifi
charset-normalizer
colorama
decorator
future
h11
h2
hpack
httpcore
httpx
hyperframe
idna
imageio
imageio-ffmpeg
matplotlib
moviepy
mutagen
numpy
pefile
Pillow
proglog
py2exe
pycryptodomex
pyinstaller
pyinstaller-hooks-contrib
pytchat
pywin32-ctypes
requests
rfc3986
sniffio
tqdm
urllib3
websockets
yt-dlp
